registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/mirrors/node
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
playwright_download_host=https://npmmirror.com/mirrors/playwright
puppeteer_download_host=https://npmmirror.com/mirrors
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
fsevents_binary_host_mirror=https://npmmirror.com/mirrors/fsevents
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors
sass_binary_site=https://npmmirror.com/mirrors/node-sass
swc_binary_site=https://npmmirror.com/mirrors/node-swc
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
sharp_dist_base_url=https://npmmirror.com/mirrors/sharp
canvas_binary_host_mirror=https://npmmirror.com/mirrors/canvas
cypress_binary_download_url=https://npmmirror.com/mirrors/cypress
esbuild_binary_mirror=https://npmmirror.com/mirrors/esbuild
